<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cursos</h1>
    {{#each products}}
        <div>
            <h2>{{this.nome}}</h2>
            <p>Preço: R$ {{this.preco}}</p>
            <p>{{this.desc}}</p>
            <img src="/img/{{this.img}}" alt="{{this.nome}}" width="200">
            {{#if this.destaque}}
                <p><strong>Destaque!</strong></p>
            {{/if}}
        </div>
    {{/each}}
</body>
</html>